<!-- Please remove this file from your project -->
<template>
  <div
    class="relative flex items-top justify-center min-h-screen bg-gray-100 sm:items-center sm:pt-0"
  >
    <h1>011111</h1>
  </div>
</template>

<script>
export default {
  name: "NuxtTutorial",
};
</script>
